@charset "utf-8";
@import url('fonts.css');

/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top125{margin-top:125px !important;}
.top130{margin-top:130px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top160{margin-top:160px !important;}
.top170{margin-top:170px !important;}
.top180{margin-top:180px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top205{margin-top:205px !important;}
.top210{margin-top:210px !important;}
.top235{margin-top:235px !important;}
.top255{margin-top:255px !important;}
.top285{margin-top:285px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}

.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px !important;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg10{padding: 10px;}
.pg20{padding: 20px;}

.container{width:1170px !important;}
.input100{width:100% !important;}

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #000;
	background: #f2f2f2;
}

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}


h1{
	font-size: 16px;
	color: #000;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}



h1 span {

}

h2 {
	font-size: 17px;
	color: #fff;
	font-family: "Lato Black";
	text-shadow:1px 2px 5px #0f0f0f;
}

h2 span{
	color: #001d33;
	font-size: 14px;
	text-shadow: none;
}


h3{
	font-size: 30px;
	color: #001d33;
	font-weight: 700;

}

h3 span{
	font-size: 23px;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	text-shadow:1px 2px 5px #0f0f0f;
	color: #fff;
}

h4 span{
	font-size: 50px;
	font-weight: 700;
}



h5 {
	font-size: 20px;
	color: #000;
	font-weight: 400;
}

h5 span{

}

h6{
	/*
	color: #fff;
	font-weight: 400;
	text-shadow:1px 2px 5px #0f0f0f;*/
}

h6 span{

}



p{
	font-size: 22px ;
	color: #000;
	text-align:justify;
	font-weight: 300;
}

p span{

}


.icon_form .fa{
	position: absolute;
	right: 22px;
	top: 16px;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
	color: #fff;

}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .form-control-feedback {
	color: #a94442;
}

.has-success .form-control-feedback {
	color: #3c763d;
}

.badge{
	position: absolute !important;
	left: 52px;
	top: 17px !important;
	background: #000;
}


.desc_prod p{
	font-size: 25px;
	font-weight: 400;
}

.topo-site {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.btn{
	border-radius: 0;
}

.lato_bold{
	font-family:"Lato Bold";
}

.lato_black{
	font-family:"Lato Black";
}

a:hover{
	text-decoration: none !important;
}

.media-left,
.media-right,
.media-body {
	vertical-align: middle !important;
}

.relativo{
	position: relative;
}

input,
select,
textarea{
	min-height: 42px;
	color:#000;
	border-radius: 0 !important;
	font-size: 20px;
	font-weight: 400;
}


::-webkit-input-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

:-moz-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

::-moz-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

:-ms-input-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

.padding0{
	padding: 0px !important;
}


/**
============================================
TOPO
============================================
*/

.btn_topo,.btn_topo:focus{
	background: none;
	box-shadow: none;
	padding: 0;
	position: relative;
	cursor: pointer;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;      */
}

.menu .navbar-nav{
	flex-direction: inherit;
}
.menu .navbar-nav > li > a{
	padding: 3px 10px;
	font-size: 17px;
	color: #fff;
	font-family:"Lato Black";
	background: url(../imgs/barra_menu.png) right center no-repeat;
}

.menu .navbar-nav > li > a .fa{
	padding: 3px 14px;
}


.menu .nav>li>a:hover,
.menu .nav>li>a:focus,
.menu .nav li a.active {
	border-radius: 5px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	color: #001d33;
	background: url(../imgs/barra_menu.png) right center no-repeat;
}




.topo-meu-orcamento{
	width:470px !important;
	margin-left: -202px;
	padding:15px;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
}


.lista-itens-carrinho h1{
	font-size: 14px !important;
	margin: inherit;
}

.btn_orcamento{
	color: #fff;
	background: #001d33;
}

.btn_orcamento:hover{
	color: #fff;
	background: #00071d;
}


.bootstrap-select>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle:hover,
.bootstrap-select>.dropdown-toggle.active,
.bootstrap-select>.dropdown-toggle:focus {
	height: 45px;
	border: 1px solid #c8c8c8;
	border-radius: 0px;
	font-weight: 700;
	color: #000;
	font-size: 15px;
	background: none;
	width: 198px !important;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: thin dotted #c8c8c8!important;
	outline: 1px auto -webkit-focus-ring-color!important;
	outline-offset: -2px;
}



/**
============================================
TOPO
============================================
*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :607px;
	margin  :0px auto;
	overflow:hidden;
	position: relative;
	margin-top: 0px;
	z-index: 1;
}

#content_slider {
	width      :1920px;
	position   :absolute;
	margin-left:-960px;
	top        :0px;
	left       :50%;
}


#content-slider-1 .rsContent{
	height: 100px;
	position: absolute;
	z-index: 1000;
	top: 100px;
}

#content-slider-1 .rsContent h1{
	font-size: 40px;
	color: #fff;
	font-family:"Lato Black";
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

#content-slider-1 .rsTabs {
	width: 162px;/*setas*/
	height: 30px;/*setas*/
	z-index: 9999;
	position: absolute;
	left: 887px;
	top: 465px;
	text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
	background   : #fff;
	width        : 30px;
	opacity      : 0.4;
	height       : 25px;
	float        : left;
	margin-right : 10px;
	cursor       : pointer;
	border-radius: 50%;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}

#content-slider-1 .rsNavSelected {
	opacity  : 1;
	background: #fff;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}


/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	bottom: 110px;
	position: absolute;
	left: 805px;
}

#container_banner .rsArrowRight {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	bottom: 110px;
	position: absolute;
	right: 805px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/**/




/**
============================================
rodape
============================================
*/
.scrollup{width:65px;height:65px;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}

.div_personalizada{padding-top: 0px !important;padding-bottom: 0px !important;}

.rodape{
	background : #dddddd;
}

.rodape-preto{
	background :#000;
}


.rodape-preto h5{
	color: #fff;
}

.redes a {
	color: #000;
}

.redes a:hover{
	color: #343636;
}

.menu_rodape .nav ,
.categorias_rodape .nav{
	display: block;
}

.menu_rodape .nav-link,.categorias_rodape .nav-link{
	color: #000;
	font-weight: 700;
	padding: 2px 0;
	font-size: 14px;
}

.menu_rodape .nav-link:hover,
.menu_rodape .nav-link.active ,
.categorias_rodape .nav-link:hover{
	color: #001d33;
}
.endereco_rodape p{
	font-size: 15px !important;
	font-family: 'Lato', sans-serif;
	font-weight: 400 !important;
}


/**
============================================
rodape
============================================
*/

/**
============================================
HOME
============================================
*/

.btn_produtos_orcamento{
	color: #fff;
	background: #cca36f;
	font-weight: 700;
	font-size: 17px;
	padding: 6px 14px;
}

.produtos_home .thumbnail{
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.produtos_home img:hover{
	opacity: .8;
}

.btn_saiba_mais{
	font-size: 15px;
	color: #6e6e6e;
}

.btn_saiba_mais:hover{
	color: #001d33;
}



.bg_empresa_home{
	background: url(../imgs/bg_empresa_home.png)center no-repeat;
	width: 453px;
	height: 115px;
	position: relative;
	z-index: 99;
	margin-top: -52px;
}
.empresa_home h1{
	font-size: 27px;
	font-weight: 700;
	color: #fff;
	padding-top: 38px;
}

.lista-produtos-index ul{
	border: 1px solid #cecece;
}

.lista-produtos-index .nav-item{
	margin-left: 1px;
	margin-right: 1px;
}

.lista-produtos-index .nav-item:last-child{
	margin-left: -1px;
}

.lista-produtos-index .nav-tabs>li>a{
	color: #6e6e6e;
	border: none;
	border-radius: 0;
	font-size: 14px;
	padding: 15px 33px 15px 33px;
	font-family: "Lato Black";
}

.lista-produtos-index .nav-link.active,
.lista-produtos-index .nav-link:hover,
.lista-produtos-index .nav-link:focus{
	background: #cecece;
	font-family: "Lato Black";
	color: #001d33;
	border: 0;
	font-size: 14px;
	padding: 15px 33px 15px 33px;
}

.procura .input-group{
	height: 50px;
	background: #f2f2f2;
}

.procura .input-group input{
	background: #f2f2f2;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

.procura .input-group-btn .btn{
	height: 50px;
	border-radius: 0;
	color: #6e6e6e;
	background: none;
	cursor: pointer;
	margin-right: -5px;
}

.procura .input-group-btn .btn:hover{
	background: #001d33;
	color: #fff;
}

.produto_hover_home {
	left: 0;
	z-index: 9;
	background: url(../imgs/fundo_transparente.png);
	width: 259px;
	height: 491px;
	position: absolute;
	top: 0;
	opacity: 0;
	padding-top: 417px;
}

.btn_produtos_home img{
	clear: both;
	border-radius: 5px;
	width: 259px;
}

.btn_hover{
	font-size: 15px;
	color: #fff;
	border-radius: 5px;
	margin-left: 20px;
}

.btn_hover:hover{
	color: #00071d;

}


.desc_titulo_home{
	height: 60px;
	overflow: hidden;
}

.facildades{
	border-bottom: 2px solid #001d33;
	min-height: 121px;
}

.facildades p{
	font-size: 15px;
	font-weight: 400;
}

.facildades_empresa p{
	font-size: 20px;
}

.facildades_empresa .card{
	border: 0;
}

.lista_categorias .flexslider{
	background:  none;
	border: none;
}

.lista_categorias .flex-control-paging li a {
    width: 25px;
    height: 25px;
    background: #798792;
    background: rgba(0, 0, 0, 0.5);
}

.flexslider .slides img:hover{
  opacity: .9;
}

.lista_categorias .flex-control-paging li a.flex-active {
    background: #001d33;
    cursor: default;
}
.lista_categorias .flex-control-paging li a:hover {
    background: #001d33;
}
/**
============================================
HOME
============================================
*/


/**
============================================
PRODUTOS
============================================
*/
.categorias_produtos .nav-link h4{
	font-size: 14px;
	font-family: "Lato Black";
}

.categorias_produtos .nav-link{
	padding-right: 0px;
	padding-left: 0px;
}

.categorias_produtos .nav-link.active h4,
.categorias_produtos .nav-link:hover h4{
	color: #001d33 !important;
	text-shadow: none;
}

.categorias_produtos li{
	margin: 20px 10px !important;
}


.slider_prod_geral .flexslider {
	margin: 0px;
}

.slider_prod_geral .slider-prod li img:hover {
	cursor: -webkit-zoom-in;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li .active img{
	cursor: pointer;
	opacity: .7;
	border: 1px solid #001d33;
}

.empresa_titulo h2{
	font-size: 20px;
}

.empresa_titulo h2 span{
	color: #fff;
}
/**
============================================
PRODUTOS
============================================
*/


/**
============================================
DICAS
============================================
*/

.dicas a:hover img{
	opacity: .8;
}

.dicas p{
	font-size: 15px !important;
	font-weight: 400;
}

.desc_dicas{
	overflow: hidden;
	height: 115px;
}

.titulo_interno h3{
	text-shadow:1px 2px 5px #0f0f0f;
	color: #fff;
}
/**
============================================
DICAS
============================================
*/

/**
============================================
FALE CONOSCO
============================================
*/
.btn_formulario{
	border-radius: 0;
	font-size: 30px;
	color: #fff;
	padding: 15px 97px;
	background: #001d33;
	font-weight: 700;
	cursor: pointer;
}

.btn_formulario_orcamento{
	border-radius: 0;
	font-size: 30px;
	color: #fff;
	padding: 15px 30px;
	background: #001d33;
	font-weight: 700;
	cursor: pointer;
}


.btn_topo_orcamento{
	border-radius: 0;
	font-size: 15px;
	color: #fff;
	padding: 5px 15px;
	background: #002953;
}

.btn_formulario:hover,
.btn_topo_orcamento:hover,
.btn_formulario_orcamento:hover{
	background: #1b3348;
	color: #fff;
}

.fundo-form{
	border-top: 2px solid #283239;
	border-bottom:  0;
	border-left: 0;
	border-right: 0;
}


.mapa h1{
	font-size: 25px;
}

.mapa h1 span{
	font-size: 21px;
	font-weight: 300;
}

.mapa P{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;

}


.titulo_emp h2{
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;

}


/**
============================================
FALE CONOSCO
============================================
*/


/**
============================================
ORCAMENTOS
============================================
*/
.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #dcdcdc;padding:10px 5px;}
.fa-times-circle::before{
	color:#ff0000;
}
.bg_cinza{
	background: #eaeaea;
	overflow: hidden;
}

.bg_branco{
	background: #fff;
}


.tabela_carrinho h3,.fundo_formulario h3{
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px;
	text-shadow:1px 2px 5px #0f0f0f;
}


.input-lista-prod-orcamentos {
	width: 40px;
	min-height: 36px !important;
	text-align: center;
	background: #001d33;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
}


.orcamento h5 span{
	font-size: 40px;
	font-weight: 400;
}

/**
============================================
ORCAMENTOS
============================================
*/
