/* ============= RESET ============= */
* { margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none;; font-weight: 400; box-sizing: border-box;}
/* ============= RESET ============= */


/* ============= FONTS ============= */
@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
}


@font-face{
  font-family:"Lato Black";
  src:
  url("../../fonts/lato_black/Lato-Black.eot?") format("eot"),
  url("../../fonts/lato_black/Lato-Black.woff") format("woff"),
  url("../../fonts/lato_black/Lato-Black.ttf") format("truetype"),
  url("../../fonts/lato_black/Lato-Black.svg#Lato-Black") format("svg");font-weight:normal;font-style:normal;}


  body{font-family: 'Roboto Condensed', sans-serif;font-size: 16px;  font-weight: 400;}
  /* ============= FONTS ============= */


  /* ============= COLUNAS ============= */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    float: left;
    padding: 8px;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  /* ============= COLUNAS ============= */


  /* ============= OFFSET COLUNAS ============= */
  .col-offset-1{margin-left: 8.33%;}
  .col-offset-2{margin-left: 16.66%;}
  .col-offset-3{margin-left: 25%;}
  .col-offset-4{margin-left: 33.33%;}
  .col-offset-5{margin-left: 41.66%;}
  .col-offset-6{margin-left: 50%;}
  .col-offset-7{margin-left: 58.33%;}
  .col-offset-8{margin-left: 66.66%;}
  .col-offset-9{margin-left: 75%;}
  .col-offset-10{margin-left: 83.33%;}
  .col-offset-11{margin-left: 91.66%;}
  .col-offset-12{margin-left: 100%;}


  .input100{width: 100%;}
  .text-center{text-align: center;}
  .text-right{text-align: right;}
  .text-left{text-align: left;}
  .clearfix{clear: both;}
  .img-circle{border-radius: 50%;}
  .top5{margin-top: 5px;}
  .top10{margin-top: 10px;}
  .top15{margin-top: 15px;}
  .top20{margin-top: 20px;}
  .top25{margin-top: 25px;}
  .top35{margin-top: 35px;}
  .top40{margin-top: 40px;}
  .top45{margin-top: 45px;}
  .top50{margin-top: 50px;}
  .top60{margin-top: 60px;}
  .top80{margin-top: 80px;}
  .top135{margin-top: 135px;}
  .top145{margin-top: 145px;}
  .top165{margin-top: 165px;}




  .bottom25{margin-bottom: 25px;}
  .bottom50{margin-bottom: 50px;}

  .padding0{padding: 0px;}
  .pg10{padding: 10px;}
  .bg10{margin: 10px;}
  .pg15{padding: 15px;}


  .pb10{padding-bottom:10px;}
  .pb15{padding-bottom:15px;}
  .pb40{padding-bottom:40px;}

  .pt15{padding-top:15px;}
  .pt20{padding-top:20px;}


  .right5{margin-right: 5px;}
  .right10{margin-right: 10px;}

  .left5{margin-left: 5px;}
  .left10{margin-left: 10px;}

  .pr10{padding-right: 10px}

  .pl{padding-left: 10px}

  .pull-left{float: left;}
  .pull-right{float: right;}

  .media, .media-body {overflow: hidden;zoom: 1;}
  .media {margin-top: 15px;}
  .media-body, .media-left, .media-right {display: table-cell;vertical-align: middle;}
  .media-object {display: block;}
  .media-middle {vertical-align: middle;}
  .media-left, .media>.pull-left {padding-right: 10px;}
  img {vertical-align: middle;}

  input,textarea,select{font-family: 'Roboto Condensed', sans-serif;font-size: 16px;  font-weight: 700;}

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
  }

  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
  }
  th {
    text-align: left;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .63rem
  }

  .carousel-preview button{
    margin-top: .13rem;
  }


  .styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    color: #7f7e81;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
  }

  .styled-select {
    width: 100%;
    overflow: hidden;
    background: #eeeeee url(../imgs/icon_localizacao.png) top 0.63rem  left 0.38rem no-repeat;
    border: 1px solid #ccc;
    height: 3.19rem;
    border: 0.01rem solid #000;
    color: #000;
    padding: 0.69rem 1.38rem;
    margin-bottom: 0.5rem ;
    margin-top: 0.07rem;
  }


  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 1px .31rem;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn-primary{
    background: #283239;
    color: #fff;
  }

  .btn{
    border-radius: 0;
  }

  .text-uppercase {text-transform: uppercase;}
  .text-capitalize{text-transform: capitalize;}

  .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }

  .thumbnail .caption {
    padding: 5px;
    color: #333;
  }

  .relativo{
    position: relative;
  }
  .form-control-feedback{
    position: absolute;
    color: #001d33;
    top: 1.13rem;
    left: 0.63rem /* 10/16 */;
  }


  h1{color:#fff;font-size: 1.25rem;font-weight: 700;}
  h1 span{color:#001d33;font-size: 1.56rem;font-weight: 700;}
  h2{color:#fff;font-size:1.25rem;font-weight: 300; }
  h2 span{font-size: .75rem;color: #001d33;font-family: "Lato Black";font-weight: 700;}
  h3{font-size: 1.88rem;color: #001d33;font-weight: 700; }
  h4{font-size: 1.5rem;color: #fff;font-weight: 700; 	text-shadow:1px 2px 5px #0f0f0f;}
  h5{font-size: 1.25rem;color: #000;font-weight: 400; }
  h6{ }


  p{font-size: 1.25rem;font-weight: 300;color: #000;text-align: justify;}
  p span{font-size: 1.13rem;font-weight: 400;color: #fff;text-align: justify;}

  a, a:visited{text-decoration: none;}

  .lightbox {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
