/* =============== EMPRESA =============== */
.localizacao-pagina {
  height: 11.47rem;
  padding-top: 2.6rem;
}

.titulo_emp h1{
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
}
.titulo_emp h2{
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
}

.input-form{height: 3.19rem; background: #fff; border: none; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 5rem}
.btn_formulario{border-radius: 0;font-size: 1.25rem;color: #fff;padding: .63rem 4.06rem;background: #001d33;font-weight: 700;cursor: pointer;font-family:"Lato Black";}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #fff;}
/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #001d33;color: #fff; width: 1.88rem ; height: 1.88rem ; text-align: center;font-family: "Lato Black";}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #dcdcdc;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #ff0000
}

  .tabela-orcamento tbody tr{
    border-bottom: 1px solid #002953;
  }

  .bg-index {
    background: url("./imgs/bg-index.jpg") top 3.88rem center no-repeat;
    width: 100%;
  }

  .bg_home{
    background: url("./imgs/fundo_transparente.png") top center;
  }

  .font-index{
    margin-top:0;
    margin-bottom: 1.6rem;
  }


  .font-index h1 span{
    color: #fff;
    text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .font-index p{
    color: #fff;
    text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }


  .index-bg-icones {
    padding: .63rem 0 .63rem .31rem;
    background: url("./imgs/fundo_transparente.png") top center;
    border-radius: 0px;
    margin-top: .38rem;
    text-align: center;
  }

  .menu_contatos {
    background: #643e36;
    padding: 20px 10px;
    text-align: center;
  }

  .menu_trabalhe{
    background: #643e36;
    opacity: .5;
    cursor: pointer;
    border: 0px;
    padding: 20px 5px;
    text-align: center;
  }


  .menu_contatos .media,.menu_trabalhe .media{
    margin:  0;
  }

  .trabalhe_conosco .form-control-feedback{
    position: absolute;
    color: #001d33;
    top: 2.44rem;
    left: 0.63rem /* 10/16 */;
  }

  .curriculo input{
    padding-top: 0.88rem;
  }


  .total-resultado-busca span,.total-resultado-busca h1{
    font-weight: 700;
    color: #fff;
    font-size: 1.38rem;
  }

  .desc-empresa{
    margin-top: 170px;
    background: #f2f2f2;
  }

  .facildades_empresa .card {
    border: 0;
}

.facildades_empresa p{
  font-family: 'Lato', sans-serif;

}

.facildades_empresa img{
  padding-left: 50%;
}

.dicas p {
    font-size: .94rem;
    font-weight: 400;
}

.dicas{
  -webkit-box-shadow: 0px 5px 13px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 13px -6px rgba(0,0,0,0.75);
box-shadow: 0px 5px 13px -6px rgba(0,0,0,0.75);
}

.dicas_dentro p{
  font-size: 1.13rem;
  font-weight: 400;
}

.mapa h1{
  color: #001d33;
}

.categorias_produtos .nav-link h4 {
    font-size: 14px;
    font-family: "Lato Black";
}

.categorias_produtos .nav-link{
    padding: 0;
}

.produtos h1{
  font-size: .94rem;
  color: #000;
}

.btn_saiba_mais {
    font-size: 12px;
    color: #6e6e6e;
    font-family: "Lato Black";
}

.btn_produtos_home img {
    clear: both;
    border-radius: 5px;
    width: 259px;
}

.desc_titulo_home {
    height: 3.31rem;
    overflow: hidden;
}

.localizacao-pagina-produtos h2 span{
  color: #fff;
  font-size: 1.25rem;
}

.localizacao-pagina-produtos h1{
  font-size: .88rem;
  font-family: "Lato Black";
}

.btn_fechar {
    background: #fff;
    font-weight: 700;
    font-size: 1.88rem;
    color: #643e36;
    border-radius: 0;
    /*position: absolute;*/
    top: 0;
    font-family: 'Edwardian Script ITC';
}

#my-lightbox a,#my-lightbox .fa-phone:before{
  color: #fff;
}

.bg_branco{
  background: #fff;
}


.color_branco{
    color: #fff;
}
